*{
    padding: 0px;
    margin: 0px;
}
h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.game-board{
    width: 80%;
    height: 500px;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    
}
.Naruto{
    height: 140px;
    width: 140px;
    position: absolute;
    bottom: 0;
}
.jump{
    animation: jump 650ms infinite ease-out; 
}
.Sasuke{
    width: 150px;
    position: absolute;
    bottom: -30px;
    animation: Sasuke-animation 1.7s infinite linear;

}
@keyframes Sasuke-animation{
    from{
        right: -80px;
    
    }
    to{
        right: 100%;
    }

}

@keyframes jump{
    0%{
        bottom: 0;
    }
    50%,55%{
        bottom: 150px;
    }
    
    100%{
        bottom: 0;
    }
}